html {
  text-size-adjust: 100%;
}
ul{
display: flex;
list-style: none;
justify-content: space-between;
align-items: center;
}
.logo{
background-image: url(https://octodex.github.com/ui/logo.png);
color:transparent;
background-position: left;
background-size: 7em;
background-repeat: no-repeat;

}
.octo-image{
  display: flex;
  flex-wrap: wrap;
}
img{
  border: solid;
  border-width: thin;
  padding: 5%;
}
figcaption{
  font-size: 1em;
  font-style: italic;
  text-align: right;
  color: gray;
}
q{
  color: black;
}
body {
  margin: 0;
  font: 16px / 1 sans-serif;
}
